
@{
    ViewBag.Title = "Index";
}

<h1>Carrossel</h1>
<a href="/Carrossel/Create">Cadastrar</a>
<a href="/Carrossel/List">Lista</a> <br />
<img src="https://lh3.googleusercontent.com/proxy/3jUDWtcGNC_oiA8T9UJEvm2p4yv4SN2yJiTX4tBfyhmVkapcMiW0lH0hehi-g8-PH8twLW1lSjKImAQwgJGALu7jrdsS" alt="carrossel de estamparia" />

