
@{
    ViewBag.Title = "Index";
}

<h1>Manual</h1>
<a href="/Manual/Create">Cadastrar</a>
<a href="/Manual/List">Lista</a><br />
<img src="https://lh3.googleusercontent.com/proxy/N2_7bO45ywtG_ptQM1nXJxD0ExUA8eRzgDHc5FZORJXyTum_DkLPm1jwUnIpErDdtuqgNWAFGkvDv5AzIpOjhhijFtK2rIChTwEaGt3_MkknLewY4JLzLg" alt="Mesa de estampar" />

